# Base de datos
DB_HOST=localhost
DB_PORT=5432
DB_NAME=fotaza2
DB_USER=postgres
DB_PASSWORD=tu_password

# JWT
JWT_SECRET=cambia_este_secreto_muy_largo_y_seguro
JWT_EXPIRES_IN=7d

# Servidor
PORT=3000
NODE_ENV=development

# Uploads
UPLOAD_PATH=public/uploads/images
AVATAR_PATH=public/uploads/avatars
MAX_FILE_SIZE=10485760

# App
APP_NAME=Fotaza 2
APP_URL=http://localhost:3000
